<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Fz10m</string>
	<key>CFBundleGetInfoString</key>
	<string>Fz10m v0.2.0 Copyright 2026 Grovepark</string>
	<key>CFBundleIdentifier</key>
	<string>com.Grovepark.vst.Fz10m</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Fz10m</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleSignature</key>
	<string>Fz10</string>
	<key>CFBundleVersion</key>
	<string>0.2.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
</dict>
</plist>
